/node_modules
/out
/include
*.tsbuildinfo
flamework.build
sourcemap.json
.asphalt-debug

pnpm-lock.yaml
package-lock.json
yarn.lock

flamework.build
.env

.DS_Store
**/.DS_Store

luau_packages
lune_packages
